/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-gen-2015, 11.34.55
    Author     : Luca
*/

*{
    padding: 0;
    margin: 0;
}

#container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font: 12px "Courier New";
    background: white;
}

header{
    padding: 20px;
    text-align: center;
    font-size: 16px;
}

header h1{
    letter-spacing: 15px;
}

nav {
    background-color: #b0c4de;
}

nav a {
    margin: 20px;
    padding: 20px;
    text-decoration: none;
    color: black;
    background-color: transparent;
}

nav a:hover {
    color: white;
    background-color: #2f4f4f;
}

article {
    padding-bottom: 60px;
    padding-top: 60px;
}

footer {
    margin-top: 50px;
    height: 20px;
    background-color: #2f4f4f;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    clear: both;
}

table{
    width: 421px;
    height: 241px;
    border-collapse: collapse;
    border: 1px solid black;
    float: left;
    text-align: center;
}

aside{
    background: #b0c4de;
    margin-left: 452px;
    text-align: justify;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.underline{
    text-decoration: underline;
}

thead th{
    background: #b0c4de;
    color: white;
}

td.sunday{
    color: red;
}

td.today{
    background-color: #6cb750; 
}

form {
    text-align: right;
    width: 40%;
    border: 1px solid #b0c4de;
}

form div{
    margin: 50px;
}

form div input {
    margin-left: 35px;
}