/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6-feb-2015, 17.13.05
    Author     : Luca Pascucci
*/

* {
    margin: 0;
    padding: 0;
}

#cptBtn {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #333;
    padding-bottom: 8px;
    height: 44px;
    border: none;
    margin-right: 10px;
    transition: background-color 0.5s linear 0s;
    border-radius: 4px;
}

#cptBtn:hover {
    background-color: #6F8A00;
}

#cptBtn > div {
    width: 20px;
    height: 3px;
    background-color: #999;
    margin: 4px 0px 0px 0px;
    border-radius: 4px;

    transition: background-color 0.5s linear 0s;
}

#cptBtn:hover > div{
    background-color: #FFF;
}

#menubar1{
    padding: 24px;
    margin-bottom: 20px;
}

#menubar1 > a {
    font: 17px Arial, Helvetica, sans-serif;
    padding: 12px 24px;
    color: #999;
    background-color: #333;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 3px;

    /*
    Prefissi in base la browser
    
    Safari/Chrome       -webkit-
    Firefox             -moz-
    Internet Explorer   -ms-
    Opera               -o-
    */

    transition: background-color 0.5s linear 0s, color 0.5s linear 0s;

}

#menubar1 > a:hover{
    background-color: #6F8A00;
    color: #FFF;
}

div {
    margin-left: 24px;
    margin-bottom: 20px;
}

.flashit{
    animation: flash linear 1s infinite;
    /* Per Safari e Chrome*/
    -webkit-animation: flash linear 1s infinite;
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

/* Per Safari e Chrome*/
@-webkit-keyframes flash {
    0% { opacity: 1; }
    50% { opacity: .1; }
    100% { opacity: 1; }
}

.pulseit{
    animation: pulse linear 0.5s infinite;
    /* Per Safari e Chrome*/
    -webkit-animation: pulse linear 0.5s infinite;
}

@keyframes pulse {
    0% { width: 200px; }
    50% { width: 240px; }
    100% { width: 200px; }
}

/* Per Safari e Chrome*/
@-webkit-keyframes pulse {
    0% { width: 200px; }
    50% { width: 180px; }
    100% { width: 200px; }
}

#banner {
    padding: 0;
    height: 200px;
    width: 1000px;
    background-color: #000;
    border: 1px solid #639;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#banner > #banner_backdrop {
    margin: 0px;
    position: relative;
    background: url(repeater.jpg) repeat-x;
    width: 1564px;
    height: 200px;
    animation: backdrop_roll linear 12s infinite;
    /* Per Safari e Chrome*/
    -webkit-animation: backdrop_roll linear 12s infinite;
}

@keyframes backdrop_roll{
    from { right: 0px; }
    to { right: 564px; }
}

/* Per Safari e Chrome*/
@-webkit-keyframes backdrop_roll{
    from { right: 0px; }
    to { right: 564px; }
}

#banner > #banner_content {
    position: relative;
    width: 96%;
    height: 160px;
    margin: 20px auto;
    top: -200px;
    color: #FFF;
    font-size: 27px;
}

.bot_container{
    width: 285px;
    height: 420px;
    margin: 0px auto;
}

.bot {
    position: relative;
    background-image: url(Obama-head.png);
    background-repeat: no-repeat;
    width: 285px;
    height: 302px;
    top: 0px;
    margin: 0px auto;
    animation: bot_float ease 2s infinite;
    /* Per Safari e Chrome*/
    -webkit-animation: bot_float ease 2s infinite;
}

@keyframes bot_float{
    50% { top: 100px; }
    100% { top: 0px; }
}

/* Per Safari e Chrome*/
@-webkit-keyframes bot_float{
    50% { top: 100px; }
    100% { top: 0px; }
}

.bot_shadow {
    position: relative;
    height: 16px;
    background: #999;
    opacity: 0.1;
    border-radius: 100%;
    top: 100px;
    margin: 0px 35px 0px 40px;
    animation: shadow_react ease 2s infinite;
    /* Per Safari e Chrome*/
    -webkit-animation: shadow_react ease 2s infinite;
}

@keyframes shadow_react{
    50% { margin: 0px 30% 0px 40%; opacity:0.7; }
    100% { margin: 0px 35px 0px 40px; opacity:0.1; }
}

/* Per Safari e Chrome*/
@-webkit-keyframes shadow_react{
    50% { margin: 0px 30% 0px 40%; opacity:0.7; }
    100% { margin: 0px 35px 0px 40px; opacity:0.1; }
}

.flip3D{ 
    width:240px; 
    height:200px; 
    margin:24px;
    
    float:left;
}
.flip3D > .front{
    margin: 0;
    position:absolute;
    background:#FC0; 
    width:240px; 
    height:200px; 
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;

    transform: rotateY( 0deg );
    backface-visibility: hidden;
    transition: transform 1s linear 0s;
    /* Per Safari e Chrome*/
    -webkit-backface-visibility: hidden;
    -webkit-transform:rotateY( 0deg );
    -webkit-transition: transform 1s linear 0s;
}
.flip3D > .back{
    margin: 0;
    position:absolute;
    background: #80BFFF; 
    width:240px; 
    height:200px; 
    border-radius: 7px;
    padding: 10px;
    box-sizing: border-box;

    transform: rotateY( 180deg );
    backface-visibility: hidden;
    transition: transform 1s linear 0s;

    /* Per Safari e Chrome*/
    -webkit-transform:rotateY( 180deg );
    -webkit-backface-visibility: hidden;
    -webkit-transition: transform 1s linear 0s;
}
.flip3D:hover > .front{
    transform: rotateY( -180deg );
    /* Per Safari e Chrome*/
    -webkit-transform:rotateY( -180deg );
}
.flip3D:hover > .back{

    transform: rotateY( 0deg );
    /* Per Safari e Chrome*/
    -webkit-transform:rotateY( 0deg );
}

.pic {
    height: 50px;
    width: 50px;
}

.picbig {
    position: absolute;
    width: 0px; /*per non mostrarla*/
    transition: width 0.3s linear 0s;
    z-index: 10;
    /* Per Safari e Chrome*/
    -webkit-transition: width 0.3s linear 0s;
}

.pic:hover + .picbig{
    /*quando sono sopra l'immagine piccola sostiuisco la larghezza della grande con 200*/
    width: 200px;
}